<div class="row">
    <div class="d-flex justify-content-center align-items-center">
        <div class="col-12 d-flex justify-content-center align-items-center">
            <div class="flechita" (click)="continue2()">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="100" height="100">
                    <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" font-size="80" font-family="Arial" fill="black">&lt;</text>
                  </svg>
            </div>
            
        
        
            <h2 class="h100" >Cronograma de pagos</h2>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center align-items-center flex-column view100">
    <div class="d-flex justify-content-center align-items-center flex-column col-10">

        <div class="container content w100">
            <div class="row">
                <p class="er et">Detalle:</p>
            </div>
            <div class="row">
                <div class="col-6">
                    <p class="er et" >Moneda: s/<span></span></p>
                </div>
                <div class="col-6">
                    <p class="color et">Monto de préstamo: s/<span></span></p>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <p class="er et" >Plaz (N° de cuotas): <span class=""></span></p>
                </div>
                <div class="col-6">
                    <p class="color et">Monto total a pagar: S/<span class="negro">12</span> </p>
                </div>
            </div>
    
            <div class="row eb">
                <div class="col-12">
                    <p class="er et">Día de pago: <span class=""></span></p>
                </div>
            </div>

            <div class="row vw80 titulo text-center et">
                <div class="col-4 text-center">
                    <p>Cuota</p>
                </div>
                <div class="col-4">
                    <p>Fecha de pago</p>
                </div>
                <div class="col-4">
                    <p>Total</p>
                </div>
            </div>

            <div class="row v100 d-flex justify-content-center">
                <div class="row w80 fondo-color">
                    <div class="color-b"></div>
                </div>
            </div>
            

            <div class="row vw80 cuota text-center eb">
                <div class="col-4 ">
                    <p class="n-cuota">1</p>
                </div>
                <div class="col-4">
                    <p class="fecha-cuota">xxxx-xx-xx</p>
                </div>
                <div class="col-4">
                    <p>S/<span class="monto-cuota">xxx.xx</span></p>
                </div>
            </div>


        </div>
    
        <div class="row v100">
            <div class="row ">
                <p class="text-end">Para ver su cronograma en formato PDF, descargue:</p>
            </div>
            <div class="row download">
                <p class="text-end download">FG_Cronograma N°<span>XXX</span>.pdf</p>
            </div>
        </div>

        <div class="row v100 d-flex justify-content-center">
            <div class="row w80 ">
                
                    <button class="btn eb" (click)="continue()">Confirmar</button>

            </div>
        </div>
        
    </div>
</div>


  
  
