.detalle{
    min-height: 100vh;
    margin: auto;
    background: linear-gradient(180deg,#00203D  0%,#0056A3  80%);
}

.detailCron{
    width: 100%;
    background: linear-gradient(270deg, #6CC1EB 0%, #3D6D85 100%);
}

.butons{
    margin: 20px;
}
.butons:hover{
    background-color: orange;
    color: white;
}

.nav{
    background: linear-gradient(270deg, #6CC1EB 0%, #3D6D85 100%);
    min-height: 90vh;
}

.detail{
    background: linear-gradient(270deg, #6CC1EB 0%, #3D6D85 100%);
}