<body class="detalle container-fluid fw-semibold fst-italic text-light row">
  <div class="col-md-1">
    <div class="card mt-5 nav">
      <img class="img-fluid" src="https://i.imgur.com/nQrwesi.png"/>
      <button class="btn btn-outline-light  fw-semibold fst-italic mb-3 mt-4  butons"><i class="fa-regular fa-circle-user fa-2xl"></i> Cuenta </button>
      <button class="btn btn-outline-light  fw-semibold fst-italic mb-3  butons"><i class="fa-solid fa-file-invoice-dollar fa-2xl"></i>Historial</button>
      <button class="btn btn-outline-light  fw-semibold fst-italic  butons" (click)="realizarPrestamo()"><i class="fa-solid fa-dollar-sign fa-2xl"></i> Prestamos</button>
      <button class="btn btn-outline-light  fw-semibold fst-italic cerrarbtn " (click)="cerrarSesion()"><i class=" fa-regular fa-circle-left fa-xl"></i> Cerrar Sesion</button>
    </div>
  </div>

  <div class="col-md-11">
    <h1 class="mt-2 mb-2 text-warning">Préstamos Realizados</h1>
      <table class="rounded-2 detailCron text-center">
        <thead class="text-warning">
          <tr>
            <th scope="col">N° Cronograma</th>
            <th scope="col">Fecha</th>
            <th scope="col">Nombre solicitante</th>
            <th scope="col">DNI</th>
            <th scope="col">Detalle</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let detallePrestamo of detallePrestamos, let i = index">
            <th>{{ detallePrestamo.detailId }}</th>
            <td>{{ detallePrestamo.fechaInicio}}</td>
             <td>
                <!-- <p [ngClass]="finalizados[i] ? 'text-danger' : 'text-success'" class="d-inline me-5">{{ finalizados[i] ? 'Finalizado' : 'Activo' }}</p>
                <button class="btn btn-danger ms-5" (click)="finalizarPrestamo(i)" [ngClass]="finalizados[i] ? 'disabled' : '' ">Finalizar</button> -->
                {{detallePrestamo.solicitante.nombre_completo}}</td>
            <td>{{ detallePrestamo.solicitante.numero}}</td>
            <td>
              <button class="btn btn-outline-warning text-center" (click)="mostrarDetalle(detallePrestamo)">
                <i class="fa-solid fa-arrow-down"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row mt-4" *ngIf="detalleSeleccionado">

        <div class="col-md-4 card rounded-4 text-light">
          <h3 class="text-warning">Detalle: </h3>
          <p><strong>Moneda: </strong> Soles</p>
          <p><strong>N° de Cuotas: </strong> {{ detalleSeleccionado.prestamo.cuotas }}</p>
          <p><strong>Fecha de inicio: </strong> {{ detalleSeleccionado.fechaInicio }}</p>
          <p><strong class="text-warning">Capital: </strong> S/. {{ detalleSeleccionado.prestamo.monto }}</p>
          <p><strong>Tasa de interés efectiva: </strong> {{ detalleSeleccionado.interesTotal}} </p>
          <p><strong>Tasa de interés: </strong>{{detalleSeleccionado.prestamo.interes}}</p>
          <p><strong>Periodo: </strong>{{ detalleSeleccionado.prestamo.cuotas }} mes/es</p>
          <p><strong class="text-warning">Monto Total a Pagar: </strong>S/. {{ detalleSeleccionado.pagarTotal}} </p>
        </div>

        <div class="col-md-8 ">
          <div *ngIf="detalleSeleccionado.cronograma && detalleSeleccionado.cronograma.length > 0">
            <table class="rounded-2 detailCron text-center">
              <thead class="text-warning">
                <tr>
                  <th scope="col">N° Cuota</th>
                  <th scope="col">Fecha de Pago</th>
                  <th scope="col">Cuota</th>
                  <th scope="col">Interes</th>
                  <th scope="col">Capital Amortizado</th>
                  <th scope="col">Saldo Final</th>
                </tr>
              </thead>
              <tbody class="table-group-divider">
                <tr *ngFor="let cronograma of detalleSeleccionado.cronograma">
                  <td>{{ cronograma.nmrcuota }}</td>
                  <td>{{ cronograma.fechaPago }}</td>
                  <td>S/. {{ cronograma.cuota }}</td>
                  <td>S/. {{ cronograma.interes }}</td>
                  <td>S/. {{ cronograma.capitalamortizado }}</td>
                  <td>S/. {{ cronograma.saldofinal }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
      <div class="row mt-1">
        <div class="line">
          <hr class="border border-warning border-1 opacity-100">
        </div>
        <p class="text-end text-warning fst-italic fw-semibold">Copyright © 2024, All rights reserved.</p>
      </div> 
  </div>
</body>
