<div class="detalle container-fluid fw-semibold fst-italic text-light row">
  <div class="v100vh">
    <div class="justify-content-center d-flex flex-column">
      <div class="row mt-5 mb-5">
        <h2>Ingrese los detalles del préstamo</h2>
      </div>
    
      <div class="row mt-5 mb-5">
        <div class="barra">
          <div class="progress-bar-container">
            <div class="progress-bar"></div>
          </div>
        </div>
      </div>
    
      <div class="row mt-5">
        <div class="ico d-flex align-items-center" (click)="volver()">
          <i class="fa-solid fa-angle-left "></i>
          <p class="m-0 ps-2">Volver</p>
        </div>
      </div>
    
      <form [formGroup]="prestamoForm" (ngSubmit)="continue()">
        <div class="row d-flex justify-content-center mt-5 mb-5">
          <div class="row col-10">
            <p>Ingrese el monto</p>
          </div>
          <div class="col-md-4 d-flex align-items-center">
            <input type="text" 
                   class="form-control form-soles" 
                   placeholder="S/" 
                   formControlName="monto"  
                   (keypress)="validateInput($event)" />
            <div *ngIf="prestamoForm.get('monto')?.invalid && prestamoForm.get('monto')?.touched" class="text-danger">
              El monto debe ser mayor o igual a 500 y menor o igual a 10,000.
            </div>
          </div>
      
          <div class="col-md-3 d-flex justify-content-center">
            <button type="button" 
                    class="btn btn-mes m-0" 
                    (click)="prestamoForm.get('monto')?.value >= 500 ? selectTime(1) : null"
                    [disabled]="prestamoForm.get('monto')?.value < 500 || prestamoForm.get('monto')?.value > 10000 || selectedTimeButton === 1">
              <span></span>1 mes <br>10 % de interés
            </button>
          </div>
      
          <div class="col-md-3 d-flex justify-content-center">
            <button type="button" 
                    class="btn btn-mes m-0" 
                    (click)="prestamoForm.get('monto')?.value >= 500 ? selectTime(6) : null"
                    [disabled]="prestamoForm.get('monto')?.value < 500 || prestamoForm.get('monto')?.value > 10000 || selectedTimeButton === 6">
              <span></span>6 meses <br>20 % de interés
            </button>
          </div>
        </div>
    
        <div class="row d-flex justify-content-center m-continuar">
          <div class="col-md-4 justify-content-center d-flex ">
            <button class="btn btn-continuar" 
                    type="submit" 
                    [disabled]="prestamoForm.invalid || !selectedTimeButton">
              Confirmar
            </button>
          </div>
        </div>
      </form>
    
    </div>
    
    <div class="row mt-1">
      <div class="line">
        <hr class="border border-1 opacity-100">
      </div>
      <p class="text-end text-warning fst-italic fw-semibold footer">Copyright © 2024, All rights reserved.</p>
    </div> 
    
  </div>
</div>
