.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 62vh;
  background-color: white;
  text-decoration: none;
}

form {
  width: 100%;
  max-width: 400px;
}

.form-control {
  border-radius: 50px;
  padding: 10px;
  border: 1px solid #363948FF;
  font-size: 1rem;
}

.btn-custom {
  background: linear-gradient(to right, #000000, #363948);
  color: white;
  border-radius: 50px;
  padding: 10px;
  font-size: 1rem;
}

.btn-custom:hover {
  background: linear-gradient(to right, #000000, #363948);
}
.custom-alert {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #f5c6cb;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  font-size: 16px;
  animation: fadeOut 3s forwards;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  80% { opacity: 0.8; }
  100% { opacity: 0; }
}
