.login-container {
  height: 100vh;
  background: linear-gradient(180deg, #0056A3 0%, #00203D 100%);
}

.form-control {
  border: linear-gradient(180deg, #0056A3 0%, #00203D 100%);

}

.btn-custom {
  background: linear-gradient(180deg, #0056A3 0%, #00203D 100%);
  color: white;
}
.custom-alert {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #f5c6cb;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  font-size: 16px;
  animation: fadeOut 3s forwards;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  80% { opacity: 0.8; }
  100% { opacity: 0; }
}

.card {
  border-radius: 30px
}

.inso{
  color: #F28907;
  font-family: Crushed;
}

.imgcontainer img {

  max-width: 120px;
  max-height: 120px;
}