<div class="login-container">
  <h2 class="mb-4">Iniciar Sesión</h2>
  <form [formGroup]="formUser" (ngSubmit)="enviar()">
    <div class="mb-3">
      <input type="text" class="form-control" formControlName="username" placeholder="Ingrese usuario" required>
      <div class="alert alert-danger" *ngIf="formUser.get('username')?.invalid && formUser.get('username')?.touched">
        <span *ngIf="formUser.get('username')?.errors?.['required']">El nombre de usuario es obligatorio.</span>
      </div>
    </div>
    <div class="mb-3">
      <input type="password" class="form-control" formControlName="password" placeholder="Ingrese su contraseña" required>
      <div class="alert alert-danger" *ngIf="formUser.get('password')?.invalid && formUser.get('password')?.touched">
        <span *ngIf="formUser.get('password')?.errors?.['required']">La contraseña es obligatoria.</span>
        <span *ngIf="formUser.get('password')?.errors?.['minlength']">Su contraseña no puede ser menor a 4 caracteres.</span>
      </div>
    </div>
    <button type="submit" class="btn btn-custom w-100" [disabled]="formUser.invalid">Iniciar sesión</button>
  </form>
</div>