
.btn-atras {
    font-size: 1.5rem; /* Ajusta el tamaño de la flecha */
    color: #8D6516; /* Color dorado */
    text-decoration: none; /* Elimina el subrayado */
    transition: color 0.3s ease; /* Añade una transición al cambiar el color */
  
    &:hover {
      color: #F2CE76; /* Cambia de color cuando el mouse pasa por encima */
    }
  }
  
  

.container {
    .btn-atras {
      font-size: 1.5rem;
      color: #8D6516;
      text-decoration: none;
    }
  
    h2 {
      font-weight: 600;
      color: #333;
    }
  
    .input-group-text {
      background: linear-gradient(90deg, #F2CE76, #8D6516);
      color: #fff;
      border: none;
      border-radius: 20px 0 0 20px;
    }
  
    .monto-input {
        border-radius: 0 20px 20px 0;
        border: 2px solid #8D6516;
      
        &:focus {
          outline: none;
          box-shadow: none;
          border-color: #8D6516; /* Mantener el borde dorado */
        }
      }
      
  
    .btn {
      background: linear-gradient(90deg, #F2CE76, #8D6516);
      color: #fff;
      padding: 10px 20px;
      border-radius: 20px;
      font-size: 1.2rem;
      font-weight: bold;
      transition: background 0.3s ease;
    }
  
    .btn:hover {
      background: linear-gradient(90deg, #8D6516, #F2CE76);
    }
  
    h4 {
      font-size: 1.2rem;
      color: #8D6516;
    }
  
    p {
      font-size: 1.5rem;
      font-weight: 700;
      color: #F2CE76;
    }
  }
  