<div class="detalle container-fluid fw-semibold fst-italic text-light row">
  <div class="v100vh  col-6 mx-auto">
    <div class="justify-content-center d-flex flex-column">
      <div class="row mt-5 mb-5">
        <h2>Ingrese los detalles del préstamo</h2>
      </div>
    
      <div class="row mt-5 mb-5">
        <div class="barra">
          <div class="progress-bar-container">
            <div class="progress-bar"></div>
          </div>
        </div>
      </div>

      <div class="row ">
        <div class="flechita col-md-1" (click)="volver()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="100" height="100">
              <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" font-size="80" font-family="Arial" fill="#EE8600">&lt;</text>
            </svg>
          </div>
          <div class="col fs-6 mt-4">
            <h3 class="ms-3">volver</h3>
          </div>
      </div>
    
      <form [formGroup]="prestamoForm" (ngSubmit)="continue()">
        <div class="row d-flex justify-content-center mt-5 mb-5">
          <div class="row col-10">
            <p>Ingrese el monto</p>
          </div>
          <div class="col-md-4 d-flex align-items-center">
            <input type="text" 
                   class="form-control form-soles rounded-pill" 
                   placeholder="S/" 
                   formControlName="monto"  
                   (keypress)="validateInput($event)" />
            <div class="alert alert-danger ms-3" *ngIf="prestamoForm.get('monto')?.invalid && prestamoForm.get('monto')?.touched">
              El monto debe ser mayor a 0.
            </div>
          </div>
      
          <div class="col-md-3 d-flex justify-content-center">
            <button type="button" 
                    class="col-5 btn btn-dark d-flex flex-column align-items-center justify-content-center w80p custom-button-b text-light rounded-pill buttons"
                    (click)="prestamoForm.get('monto')?.value > 0 ? selectTime(1) : null"
                    [disabled]="prestamoForm.get('monto')?.value <= 0 || prestamoForm.get('monto')?.value > 5000 || selectedTimeButton === 1">
              <div class="text-center fs-4 fw-bold">1</div>
              <div class="text-center fs-4 fw-bold">mes</div>
              <div class="text-center">10 % de interés</div>
            </button>
          </div>
      
          <div class="col-md-3 d-flex justify-content-center">
             <button type="button" 
                    class="col-5 btn btn-dark d-flex flex-column align-items-center justify-content-center w80p custom-button-b text-light rounded-pill buttons"
                    (click)="prestamoForm.get('monto')?.value > 0 ? selectTime(6) : null"
                    [disabled]="prestamoForm.get('monto')?.value <= 0 || prestamoForm.get('monto')?.value > 5000  || selectedTimeButton === 6">
              <div class="text-center fs-4 fw-bold">6</div>
              <div class="text-center fs-4 fw-bold">meses</div>
              <div class="text-center">20 % de interés</div>
            </button>
          </div>
        </div>
    
        <div class="row d-flex justify-content-center m-continuar">
          <div class="col-md-4 justify-content-center d-flex ">
            <button class="btn btn-continuar" 
                    type="submit" 
                    [disabled]="prestamoForm.invalid || !selectedTimeButton">
              Confirmar
            </button>
          </div>
        </div>
      </form>

    </div>

    <div class="row mt-1">
      <div class="line">
        <hr class="border border-1 opacity-100">
      </div>
      <p class="text-end text-warning fst-italic fw-semibold footer">Copyright © 2024, All rights reserved.</p>
    </div> 

  </div>
</div>