.footer-container {
  background: linear-gradient(to right, #111217 40%, #363948 65%);
  padding: 1rem;
  text-decoration: none;
  max-width: 100%;
}

.footer-logo {
  width: 128px;
  max-width: 100%;

}

.hr {
  border: 1px solid #ffffff;
}

.nav-link {
  color: white;
  text-decoration: none;
}

p {
  margin-top: 1rem;
}

hr {
  border-top: 1px solid #666;
}
