footer {
  text-align: center;
  color: white;
  background: linear-gradient(to right, #000000, #363948);
  height: 10vh;
  justify-content: center;
  align-items: center;
}
p{
  text-align: center;
  color: white;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
