<!-- Flecha hacia atrás -->
<div class="container ">
    <div class="row fw-semibold p-3">
        <h2 class="">Ingrese los datos</h2>
    </div>

    <div class="progress m-3" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar bg-warning " style="width: 25%"></div>
      </div>

      <div class="row">
        <div class="flechita col-md-1" (click)="volver()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="100" height="100">
              <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" font-size="80" font-family="Arial" fill="black">&lt;</text>
             </svg>
          </div>
          <div class="col fs-5 mt-4">
            <h3 class="ms-3">Volver</h3>
          </div>
      </div>  



<!-- Contenido principal -->
<div class="container-fluid d-flex flex-column justify-content-center m-0">

    <div class="container position-relative">
  
        <!-- Título -->
        <div class="conainter">
            <!-- Formulario -->
            <div class="row">
                <div class="col-md-6 offset-md-3 form-container">
                  <form (ngSubmit)="continue()">
                     <!-- Campo Tipo Documento -->
                     <div class="row">
                        <div class="col">
                            <h3 class="fs-5">Tipo:</h3>
                        </div>
                        <div class="form-check col p-3">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                              Dni
                            </label>
                          </div>
                          <div class="form-check col p-3">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                              Ruc
                            </label>
                          </div>
                     </div>
                    <!-- Campo DNI con botón a la derecha -->
                    <div class="row mb-3 mt-3">
                        <label for="dni" class="form-label fs-4">Numero de documento</label>
                        <div class="input-group">
                            <input type="text" id="dni" class="form-control dni-input" placeholder="DNI" maxlength="8" (keypress)="validateNumber($event)" [(ngModel)]="dni" name="dni" required>
                            <button class="btn btn-op" type="button" (click)="buscar()">Buscar</button>
                        </div>
                    </div>
                    <div *ngIf="isLoading" class="spinner-container">
                        <div class="spinner"></div>
                      </div>

                    <div *ngIf="!isLoading">
                    <!-- Información del cliente -->
                    <p>DNI: <span class="dni">{{ solicitanteData.numero }}</span></p>
                    <p>Nombre o razon social: <span class="nombre">{{ solicitanteData.nombre_completo }}</span></p>
                    <!-- Botón Continuar -->
                    <div class="row text-center my-4">
                    </div>
                     <button type="submit" class="btn" (click)="continue()">Continuar</button>
                    </div>   
                  </form>
                </div>
            </div>
        </div>
  
    </div> 
    <!-- Alerta de error personalizada -->
    <div class="custom-alert" *ngIf="showError">
        Error: Hubo un problema al iniciar sesión.
      </div>
</div>
</div>