.container {
    max-width: 800px;
    margin: 0 auto;
    
  }
  .backgroundcontainer
  {
    background: linear-gradient(#0056A3,#00203D);
    height: 100vh;
  }
  .back-arrow {
    top: 10px;
    left: 10px;
  }
  
  .informacion-cliente {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
  }

.informacion-cliente h4 {
    color: rgb(215, 197, 154);
}
  
.btn {
    background: linear-gradient(90deg, #6CC1EB, #3D6D85); /* Gradiente de izquierda (claro) a derecha (oscuro) */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 20px;
    background-size: 100% 100%; /* El fondo cubre todo el botón */
}

.btn:hover {
    transform: translateY(-3px); /* Eleva el botón 5px hacia arriba */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar sensación de elevación */
    background-position: left; /* Mueve el gradiente lentamente hacia la izquierda */
}


.btn-atras{
    color: #8D6516;
    font-weight: bold;
    font-size: 2rem;
}


  
  /* Para asegurar una transición fluida del fondo */
  .btn:hover {
    background-position: left; /* Mueve el gradiente lentamente hacia la izquierda */
  }

  .text-reset {
    color: inherit;
    text-decoration: none;
  }
  
  

  .dni-input {
    border-radius: 25px; /* Bordes redondeados */
    padding: 10px;
    border: none; /* Eliminar borde predeterminado */
    outline: none; /* Quitar borde azul al hacer clic */
    background-color: transparent; /* Fondo transparente */
    box-shadow: none; /* Eliminar cualquier sombra al hacer clic */
}

.input-wrapper {
    border: 2px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(90deg, #F2CE76, #8D6516); /* Gradiente del borde */
    border-radius: 25px; /* Bordes redondeados */
    padding: 5px; /* Espacio entre borde y campo de texto */
    display: inline-block; /* Asegurar que se ajuste correctamente */
}

.dni-input:focus {
    outline: none; /* Evitar borde azul al enfocarse */
    box-shadow: none; /* Evitar sombra al enfocarse v1234 */
}

.min-vh-80 {
    min-height: 80vh;
}
.btn-op:hover {
  transform: translateY(0px)!important; /* Eleva el botón 5px hacia arriba */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar sensación de elevación */
  background-position: left; /* Mueve el gradiente lentamente hacia la izquierda */
}
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; // Ajusta según necesites
}

.spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-left-color: #EE8600; // Color del spinner
  border-radius: 50%;
  width: 200px; // Ajusta el tamaño según necesites
  height: 200px; // Ajusta el tamaño según necesites
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
 .flechita{
  cursor: pointer;
  transition: transform 0.3s ease;

  &:hover {
      transform: scale(1.1);
  }
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Estilo para la etiqueta del botón radio */
.form-check-label {
  color: #00203D;
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  padding: 8px 20px;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

/* Estilo del botón radio seleccionado */
input[type="radio"]:checked + .form-check-label {
  background-color: #EE8600;
  border-color: #995a08;
  color: white;
}
.progress-bar
{
  background-color:#EE8600 !important ;
}