<div class="container d-flex flex-column justify-content-center align-items-center" style="min-height: 80vh;">
    <h1 class="mb-5 text-center">Hola, ¿Qué préstamo deseas otorgar hoy?</h1>

    <div class="row w-100 d-flex justify-content-around">
        <button class="col-5 d-flex flex-column align-items-center justify-content-center custom-button m-4">
            <div class="text-center fs-1 fw-bold">
                1 mes
            </div>
            <div class="text-center">
                10 % de interés
            </div>
        </button>
        <button class="col-5 d-flex flex-column align-items-center justify-content-center custom-button m-4">
            <div class="text-center fs-1 fw-bold">
                6 meses
            </div>
            <div class="text-center">
                20 % de interés
            </div>
        </button>
    </div>
</div>
