<div class="historial-pagos backgroundcontainer">
  <div class="container">
    <h1 class="text-center text-warning mb-4">Préstamos Realizados</h1>

    <div class="table-responsive">
      <table class="table table-dark table-hover rounded">
        <thead class="text-warning">
          <tr>
            <th>N° Cronograma</th>
            <th>Fecha</th>
            <th>Nombre solicitante</th>
            <th>DNI o RUC</th>
            <th>Detalle</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let detallePrestamo of detallePrestamos; let i = index">
            <td>{{ detallePrestamo.detailId }}</td>
            <td>{{ detallePrestamo.fechaInicio | date:'dd/MM/yyyy' }}</td>
            <td>{{ detallePrestamo.solicitante.nombre_completo }}</td>
            <td>{{ detallePrestamo.solicitante.numero }}</td>
            <td>
              <button class="btn btn-outline-warning" (click)="mostrarDetalle(detallePrestamo)">
                <i class="fa-solid fa-arrow-down"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row mt-4" *ngIf="detalleSeleccionado">
      <div class="col-md-4">
        <div class="card bg-dark text-light">
          <div class="card-body">
            <h3 class="card-title text-warning">Detalle del Préstamo</h3>
            <ul class="list-unstyled">
              <li><strong class="text-warning">N° de Cronograma:</strong> {{ detalleSeleccionado.detailId }}</li>
              <li><strong>Moneda:</strong> Soles</li>
              <li><strong>N° de Cuotas:</strong> {{ detalleSeleccionado.prestamo.cuotas }}</li>
              <li><strong>Fecha de inicio:</strong> {{ detalleSeleccionado.fechaInicio | date:'dd/MM/yyyy' }}</li>
              <li><strong class="text-warning">Capital:</strong> S/. {{ detalleSeleccionado.prestamo.monto | number:'1.2-2' }}</li>
              <li><strong>Tasa de interés efectiva:</strong> {{ detalleSeleccionado.interesTotal | number:'1.2-2' }}%</li>
              <li><strong>Tasa de interés:</strong> {{ detalleSeleccionado.prestamo.interes | number:'1.2-2' }}%</li>
              <li><strong>Periodo:</strong> {{ detalleSeleccionado.prestamo.cuotas }} mes(es)</li>
              <li><strong class="text-warning">Monto Total a Pagar:</strong> S/. {{ detalleSeleccionado.pagarTotal | number:'1.2-2' }}</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <div class="card bg-dark text-light">
          <div class="card-body">
            <h3 class="card-title text-warning">Cronograma de Pagos</h3>
            <div class="table-responsive">
              <table class="table table-dark table-hover">
                <thead class="text-warning">
                  <tr>
                    <th>N° Cuota</th>
                    <th>Fecha de Pago</th>
                    <th>Cuota</th>
                    <th>Interés</th>
                    <th>Capital Amortizado</th>
                    <th>Saldo Final</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let cronograma of detalleSeleccionado.cronograma">
                    <td>{{ cronograma.nmrcuota }}</td>
                    <td>{{ cronograma.fechaPago}}</td>
                    <td>S/. {{ cronograma.cuota | number:'1.2-2' }}</td>
                    <td>S/. {{ cronograma.interes | number:'1.2-2' }}</td>
                    <td>S/. {{ cronograma.capitalamortizado | number:'1.2-2' }}</td>
                    <td>S/. {{ cronograma.saldofinal | number:'1.2-2' }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-4">
      <hr class="border-warning opacity-50">
      <p class="text-end text-warning fst-italic fw-semibold">Copyright © 2024, All rights reserved.</p>
    </div>
  </div>
</div>